<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: head-content}"></head>

<body class="bg-gray-100">
<div class="min-h-screen flex items-center justify-center">
    <div class="bg-white p-8 rounded-lg shadow-md w-full max-w-md">
        <h2 class="text-2xl font-bold text-center mb-6">Register</h2>


        <form th:object="${register}" th:action="@{/auth/register}" method="post" class="space-y-4">

            <div>
                <label class="block text-sm font-medium text-gray-700">Name</label>
                <input th:field="*{name}" type="text" placeholder="Full name"
                       class="w-full mt-1 px-4 py-2 border rounded-md focus:outline-none focus:ring focus:ring-blue-300"/>
                <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}"
                   class="text-red-500 text-sm mt-1"></p>
            </div>

            <div>
                <label class="block text-sm font-medium text-gray-700">Username</label>
                <input th:field="*{username}" type="text" placeholder="Username"
                       class="w-full mt-1 px-4 py-2 border rounded-md focus:outline-none focus:ring focus:ring-blue-300"/>
                <p th:if="${#fields.hasErrors('username')}" th:errors="*{username}"
                   class="text-red-500 text-sm mt-1"></p>
            </div>

            <div>
                <label class="block text-sm font-medium text-gray-700">Password</label>
                <input th:field="*{password}" type="password" placeholder="Password"
                       class="w-full mt-1 px-4 py-2 border rounded-md focus:outline-none focus:ring focus:ring-blue-300"/>
                <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}"
                   class="text-red-500 text-sm mt-1"></p>
            </div>

            <div th:if="${error}" class="text-center text-red-600 text-sm">
                <p th:text="${error}"></p>
            </div>
            <div th:if="${success}" class="text-center text-green-600 text-sm">
                <p th:text="${success}"></p>
            </div>

            <button type="submit"
                    class="w-full bg-blue-600 text-white py-2 rounded hover:bg-blue-700 transition">
                Register
            </button>
        </form>

        <p class="text-center text-sm text-gray-500 mt-4">
            Already have an account?
            <a th:href="@{/auth/login}" class="text-blue-600 hover:underline">Login</a>
        </p>
    </div>
</div>
</body>
</html>
